* text=auto eol=lf

# Always LF for files executed in Linux containers
*.sh text eol=lf
Dockerfile text eol=lf
*.dockerfile text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.py text eol=lf

# Binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.lottie binary
*.json binary
